/* Center the content on the page */
body {
    background-color: #d4e3ec;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* Container for the form with border */
  .forgetpassword {
    border: 2px solid #ccc; /* Add a border around the form */
    padding: 20px; /* Add some padding to the form container */
    max-width: 500px; /* Set maximum width for the form container */
    background-color: rgb(211, 103, 103);
    height:330px /* White background color for the form container */
  }
  
  /* Style the "Forget Password" form title */
  .h1 {
    font-size: 24px;
    color: #050404; /* Use a light grey color (you can adjust the shade if needed) */
    margin-bottom: 20px; /* Add some space below the title */
  }
  
  .formStyle{
    box-sizing: border-box;
    border:2px solid black
  }
  
  /* Style the "Forget Password" text */
  .h1 {
    font-size: 24px;
    color: #050404; /* Use a light grey color (you can adjust the shade if needed) */
    margin-bottom: 20px; /* Add some space below the text */
  }
  .Button
  {
    margin-top:60 px ;
    margin-right: 175px;
  }
  .Button2{
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 2px;
    color: red;
  }
  /* .random{
    display: flex;
  } */
  .randomText{
    margin-top: 36px;
  }
  